[submodule "third_party/egglog"]
	path = third_party/egglog
	url = https://github.com/saulshanabrook/egg-smol.git
	branch = cost-action
[submodule "third_party/llvm"]
	path = third_party/llvm
	url = https://github.com/llvm/llvm-project.git
[submodule "third_party/p4mlir"]
	path = third_party/p4mlir
	url = https://github.com/p4lang/p4mlir-incubator.git
